<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{car.picture}}" alt="Card image cap" />
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">{{car.make}}</h5>
        <p class="card-text">Modal: {{car.modal}}, year: {{car.year}}</p>
        <p class="card-text">${{car.pricePerHour}}
          per hour,${{car.pricePerWeek}}
          per week</p>
        <small>Location: {{car.location}}</small>
      </div>
      <a href="/contactOwner/{{car.owner}}" class="btn btn-primary btn-1">Contact
        Owner</a>
      <a href="/RentCar/{{car._id}}" class="btn btn-danger btn-1">Rent Now</a>
    </div>
  </div>
</div>

{{!-- <div class="container">
  <h1>{{car.make}}</h1>
  <p>Modal: {{car.modal}}</p>
  <p>year: {{car.year}}</p>
  <p>Address: {{car.location}}</p>
  {{#each car.image}}
    <img src="{{imageUrl}}" alt="car image" width="300px" />
  {{else}}
    <p>No images found</p>
  {{/each}}
  <a href="/showOwner/{{car.owner}}"><button class="btn btn-info">Contact Owner</button></a>
  <a href="/checkout"> <button class="btn btn-danger">Add to Cart</button> </a>
</div> --}}